<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="/static/assets/images/favicon.png" type="">

  <title> Car Dealer </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.css" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/static/assets/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/assets/css/responsive.css" rel="stylesheet" />

</head>

<body>

  <div class="hero_area">
    <div class="bg-box">
      <img src="/static/assets/images/car13.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              Car Dealer
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item active">
                <a class="nav-link" href=" ">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#cars">Cars</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Us</a>
              </li>
            </ul>
            <div class="user_option">
              
            
             
              <a href="login" class="order_online">
                Login
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <br><br><br>
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Spring into Savings!
                    </h1>
                    <p>
                      "Discover unbeatable deals on our latest models this season. Drive home your dream car today and experience luxury like never before."







                    </p>
                    <div class="btn-box">
                      <a href="login" class="btn1">
                      Know more
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Experience Luxury on Every Drive!
                    </h1>
                    <p>
                      "Elevate your driving experience with our exclusive selection of premium cars. Find sophistication, performance, and comfort in every ride."
                    </p>
                    <div class="btn-box">
                      <a href="login" class="btn1">
                         Know more
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Redefine Adventure Behind the Wheel!
                    </h1>
                    <p>
                      "Embark on thrilling journeys with our diverse range of rugged yet refined vehicles. From off-road explorations to city escapades, find your perfect companion for every terrain."
                    </p>
                    <div class="btn-box">
                      <a href="login" class="btn1">
                        Know more
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- offer section -->

  <section class="offer_section layout_padding-bottom">
    <div class="offer_container">
      <div class="container ">
        <div class="row">
          <div class="col-md-6  ">
            <div class="box ">
              <div class="img-box">
                <img src="/static/assets/images/kia sletos.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                 Kia Sletos
                </h5>
                <h6>
                  <span>20%</span> Off
                </h6>
                <a href="login">
                 Book Now 
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6  ">
            <div class="box ">
              <div class="img-box">
                <img src="/static/assets/images/mahindra_kuv100.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                 Mahindra KUV 100
                </h5>
                <h6>
                  <span>15%</span> Off
                </h6>
                <a href="login">
                  Book Now 
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end offer section -->

  <!-- food section -->

  <section class="food_section layout_padding-bottom" id="cars">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Explore Our Featured Car Collection!
        </h2>
      </div>

    <br>  

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/static/assets/images/kia sletos.jpg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Kia Sletors
                  </h5>
                  <p>
                    Experience cutting-edge design and innovative technology with the Kia Seltos, a stylish and versatile SUV.
                  </p>
                  <div class="options">
                    <h6>
                     10,00,000
                    </h6>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/static/assets/images/Suzuki.jpg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Suzuki
                  </h5>
                  <p>
                    Discover reliability and efficiency with Suzuki's diverse range of compact cars and SUVs, perfect for urban adventures.
                  </p>
                  <div class="options">
                    <h6>
                      15,00,000
                    </h6>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/static/assets/images/Tata Harrier.jpg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Tata Harrier
                  </h5>
                  <p>
                    Command attention on the road with the Tata Harrier, an imposing SUV combining power, comfort, and sophistication.
                  </p>
                  <div class="options">
                    <h6>
                      12,00,000
                    </h6>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pasta">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/static/assets/images/xuv 700.jpg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                   XUV 700
                  </h5>
                  <p>
                    Unleash luxury and performance with the XUV700, Mahindra's flagship SUV offering premium features and dynamic styling.
                  </p>
                  <div class="options">
                    <h6>
                      18,00,000
                    </h6>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all fries">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/static/assets/images/kia_motors.jpg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                   Kia Motors
                  </h5>
                  <p>
                    Innovate Your Drive with Kia Motors, delivering exceptional quality, style, and value across their diverse lineup.
                  </p>
                  <div class="options">
                    <h6>
                      9,00,000
                    </h6>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/static/assets/images/mahindra thar.jpg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Mahindra Thar
                  </h5>
                  <p>
                    Embrace adventure with the Mahindra Thar, an iconic off-road SUV designed to conquer any terrain with confidence.
                  </p>
                  <div class="options">
                    <h6>
                      15,00,000
                    </h6>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/static/assets/images/hyundai.jpg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Hyundai
                  </h5>
                  <p>
                    Elevate your driving experience with Hyundai's modern lineup of cars , renowned for their reliability and innovation.                  </p>
                  <div class="options">
                    <h6>
                     9,50,000
                    </h6>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/static/assets/images/mg motor.jpg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                   MG Motor
                  </h5>
                  <p>
                    Discover the future of mobility with MG Motor, offering electric and hybrid vehicles packed with cutting-edge technology.
                  </p>
                  <div class="options">
                    <h6>
                      8,75,000
                    </h6>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pasta">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/static/assets/images/mercedes-benz.jpg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Mercedes Benzs
                  </h5>
                  <p>
                    Experience unparalleled luxury and performance with Mercedes-Benz, setting the standard for automotive excellence .
                  </p>
                  <div class="options">
                    <h6>
                     9,80,000
                    </h6>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="login">
         Explore more
        </a>
      </div>
    </div>
  </section>

  <!-- end food section -->

  <!-- about section -->
  
  <section class="about_section layout_padding" id="about">
    
    <div class="container  ">
      
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/assets/images/car2.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
               About Us
              </h2>
            </div>
            <br>
            <h4 style="font-family: 'Dancing Script', cursive;">
              Car Dealer: Your Trusted Automotive Partner.
            </h4>
            <p>
              we're more than just a car dealership – we're your trusted partner in finding the perfect vehicle to suit your lifestyle and preferences. With a commitment to excellence and customer satisfaction, we strive to provide an unparalleled car-buying experience for every visitor who walks through our doors.
            </p>
            <p>Offering a wide selection of quality new and pre-owned vehicles from top brands. Our experienced team of automotive professionals is dedicated to helping you navigate through our extensive inventory to find the car of your dreams.</p>
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- book section -->
  <section class="book_section layout_padding" id="contact">
    <div class="container">
      <div class="heading_container">
        <h2>
          Book A Car
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form method="post">
              {% csrf_token %}
              <div>
                <input type="text" name="name" class="form-control" placeholder="Your Name" />
              </div>
              <div>
                <input type="text"  name="phone_no" class="form-control" placeholder="Phone Number" />
              </div>
              <div>
                <input type="email" name="email" class="form-control" placeholder="Your Email" />
              </div>
            
              
              <div>
               <textarea type=text style="width:555px" class="form-control" name="msg" placeholder="Massage"></textarea>
              </div>
              <div class="btn_box">
                <button>
                 Submit
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            
              <img src="/static/assets/images/car14.jpg" alt="">
           
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  <!-- client section -->



  <!-- end client section -->

  <!-- footer section -->
 
  <!-- footer section -->

  <!-- jQery -->
  <script src="/static/assets/js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="/static/assets/js/bootstrap.js"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="/static/assets/js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>